.coverScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(144, 238, 144, 0.8);
    
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 39% 60%;
    grid-template-rows: 100%;
    grid-template-areas: 
                "input results";
}

.input {
    grid-area: input;
    margin-left: 1%;
}

.results {
    grid-area: results;
}

.modelSelector {
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 10px;
}

.modelSelector::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

.modelSelector::-webkit-scrollbar-thumb {
    background: transparent; 
}

.listOfFactors {
    height: 70%;
    width: 100%;
}

.img {
    margin-top: 1%;
    height: 50%;
    width: 100%;
}

.fitImg {
    height: 100%;
    width: 100%;
    border: 1px black solid;
}

.predictionResults {
    height: 10%;
    width: 100%;
}

.characteristics {
    height: 40%;
    width: 100%;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: lightgray;
}

.giveSpace {
    margin-right: 10px;
}

.chosenModel {
    background-color: yellow;
    font-weight: bolder;
}